<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/index.css">
    <title>Document</title>
</head>
<body>
    <div class="form_addlink">
        <div id="app">
            <form id="form" method="post" action="{{ url_for('sendEmail') }}">
                <div class="container">
                    <input type="email" placeholder="Enter your email" name="mail" required />
                    <button id="add" type="submit" class="signup">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</body>
</html>