<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/index.css">
    <title>Document</title>
</head>
<body>
    <div class="form_addlink">
        <div id="app">
            <form action="{{url_for('send_message')}}" method="POST" >
                <div class="container">
                    <input type="email" placeholder="Enter your email" name="email" required />
                    <input type="text" placeholder="Enter your subject" name="subject" required />
                    <textarea name="message" id="" cols="70" rows="10"></textarea>
                    <button id="add" type="submit" class="signup">Submit</button>
                    </div>
            </form>
        </div>
        </div>

    </div>
</body>
</html>